<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lixm.animationdemo"
    android:sharedUserId="com.lixm.apkthemeplugin">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".application.MyApplication1"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Bugly升级SDK配置开始 -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <!-- API 24以上配置 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tencent.bugly.hotfix.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <meta-data -->
        <!-- android:name="UMENG_CHANNEL" -->
        <!-- android:value="${UMENG_CHANNEL_VALUE}" /> -->

        <activity android:name=".activity.ObjectAnimation1Activity" />
        <activity android:name=".activity.ObjectAnimation2Activity" />
        <activity android:name=".activity.BezierActivity" />
        <activity android:name=".activity.MyHeartViewActivity" />
        <activity android:name=".activity.CircleProgressBarActivity" />
        <activity android:name=".activity.ObjectAnimationFrameActivity" />
        <activity android:name=".activity.FlashActivity" />
        <activity android:name=".activity.PayPassportActivity" />
        <activity android:name=".activity.GreenDaoActivity" />
        <activity android:name=".activity.DialogActivity" />
        <!-- <activity android:name="com.lixm.animationdemo.dialog.LiveRedRecordDialog"></activity> -->
        <activity android:name=".activity.CollegeActivity" />
        <activity android:name=".activity.JsonBeanActivity" />
        <activity android:name=".activity.JsonXmlActivity" />
        <activity android:name=".activity.RecordSoundActivity" />
        <activity android:name=".activity.GestureDemoActivity" />
        <activity android:name=".activity.CollegePlayerActivity" />
        <activity android:name=".activity.RandomActivity" />
        <activity android:name=".activity.FixurePositionProgressBarActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.ButterknifeActivity" />
        <activity android:name=".activity.CertificateFactoryActivity" />
        <activity android:name=".activity.AudioRecoderActivity" />

        <service
            android:name=".service.MyVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <activity android:name=".activity.JNIDemoActivity" />
        <activity android:name=".activity.WeatherMainActivity" />
        <activity android:name=".activity.WeatherActivity" />
        <activity android:name=".activity.SubwayActivity" />
        <activity android:name=".activity.MessengerActivity" />

        <service
            android:name=".service.MessengerService"
            android:process=":remote" />
        <service
            android:name=".service.BookManagerService"
            android:process=":remote" />

        <activity
            android:name=".activity.BookManagerctivity"
            android:label="@string/title_activity_book_managerctivity" />
        <activity
            android:name=".activity.FullScreenDisplayStockInformationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".activity.FullScrollActivity" />
        <activity android:name=".activity.FullScrollLayoutActivity" />
        <activity android:name=".activity.AnkoActivity" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.MediaPlayerActivity" />
        <activity android:name=".activity.ApkThemeActivity" />
        <activity android:name=".activity.ApkThemeJavaActivity" />
        <activity android:name=".activity.DialogFragmentActivity" />
        <activity android:name=".activity.EditTextActivity" />
        <activity android:name=".activity.event_bus.EventBus1Activity" />
        <activity android:name=".activity.event_bus.EventBus2Activity" />
        <activity android:name=".activity.event_bus.EventBus3Activity"></activity>
    </application>

</manifest>